<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Djib Holidays</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6b43684e60.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

  </head>

<body>
  
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
           <div class="dropdown-divide">
            <a class="dropdown-item" href="#">Arta</a>
            <a class="dropdown-item" href="#">Ali Sabieh</a>
            <a class="dropdown-item" href="#">Dikhil</a>
            <a class="dropdown-item" href="#">Djibouti</a>
            <a class="dropdown-item" href="#">Tadjourah</a>
          </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Register"><span class="LogReg">Join Us</span></a>
         </li>
   
        
          <li class="nav-item">
            <a class="nav-link" href="/Logout"><span class="LogReg">Logout</span></a>
           </li> 
        
       
         <li class="nav-item">
          <a class="nav-link" href="/Login"><span class="LogReg">Login</span></a>
         </li> 
            
      </ul>
      
    </div>
  </nav>

  