<%- include('partials/header'); -%>

<div class="row mainrow my-5">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h3>Ambado Tour</h3></div>
      <div class="card-body">
        <h5 class="card-title">Ambado Tour</h5>
        <p class="card-text">
          You enjoy a beatifull beach and unique amazing coral underneath.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2" style="margin-top: 10px">
        <h5>Overview</h5>
      </div>
      <div class="col-md-6" style="text-align: left">
        <h6 style="margin-top: 10px; font-size: 1.2rem">
          You’ll spend time in vibrant Djibouti City before heading off to Lake
          Abbé, driving through the Grand Bara and Petit Barra deserts along the
          way and sleeping in simple, traditional Afar huts on the shores of the
          lake upon arrival. The lake is particularly famous for the limestone
          chimneys that punctuate the surrounding landscape. Next it’s on to
          Lake Assal, the lowest point in the African continent, followed by
          Tadjourah, an old town full of whitewashed buildings and mosques, a
          short drive from the pretty beach at Plages de Sables Blancs.
        </h6>
      </div>
    </div>

    <hr class="my-4" />

    <div class="row">
      <div class="col-md-2">
        <h5>Day 1</h5>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">Leave at 7:00 am</div>
          <div class="col-md-3">stop Dikhil 8:30</div>
          <div class="col-md-4">arrive Tadjourah 10:30</div>
        </div>
      </div>
    </div>

    <hr class="my-4" />
    <div class="row">
      <div class="col-md-2">
        <h5>Day 2</h5>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">Drive to lack Assal</div>
          <div class="col-md-3">tour in the lake</div>
          <div class="col-md-4">Back to Tadjourah</div>
        </div>
      </div>
    </div>
    <hr class="my-4" />

    <div class="row">
      <div class="col-md-2">
        <h5>Day 3</h5>
      </div>
      <div class="col-md-6">
        <p style="text-align: left; margin-top: 10px; font-size: medium">
          Return to Djibout, and on the Way because we want maximise your
          exprience we will take different route and stop on the small villages
          20 minutes max, to experience locals.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 border">
    <img src="images/snorkeling1.jpg" class="img-thumbnail" alt="beach" />
    <img src="images/beach4.jpg" class="img-thumbnail" alt="beach" />
    <img src="images/beach6.jpg" class="img-thumbnail" alt="beach" />
  </div>
</div>

<h1>Recent Visits</h1>
<Row>
  <div class="row row-cols-2 row-cols-md-3 g-4" style="margin: 20px auto">
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado1.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado2.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col h-75" style="margin: 20px auto">
      <div class="card">
        <img src="images/ambado4.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado14.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="h-75" style="margin: 20px auto">
        <img src="images/ambado11.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado1.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado13.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h-75" style="margin: 20px auto">
        <img src="images/ambado14.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card h75" style="margin: 20px auto">
        <img src="images/ambado15.jpg" class="card-img-top" alt="..." />
      </div>
    </div>
  </div>
</Row>

<%- include('partials/footer'); -%>
