
<%- include('partials/header'); -%>

<% if (error) { %>
    
  <p style="background-color: #ef5454; font-size: medium;  color: rgb(245, 250, 247);"><%= error%></p>
  <% } %>
  <div class="success">
    <%if (info){%>
    
     <p style="background-color: #7FFFD4; font-size: medium;  color: seagreen;"><%= info%></p>
     
    <%}%>

<form action="/forgot" method="POST">
    <h2>Reset Password</h2>
    
    <div class="container">
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="email" name="email" required>
     
  
      <button type="submit">Reset Password</button>
      
    </div>
  
  </form>




