<%- include('partials/header'); -%>

<%if(error){%>
  <p class="error"><%=error%></p>
 <%}%>



<form action="/Login" method="Post">
  
  
  <fieldset class="regform">
    <h2 class="h2Login">Login</h2>
  <div class="form-group">
    <div class="input-group-prepend">
      <div class="input-group-text"> <i class="fas fa-envelope fa-lg"></i></div>
    
    <input type="text" class="form-control" name="email" id="email" placeholder="Email" aria-describedby="emailHelp">
  </div>
  </div>
  
  <div class="form-group">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-lock fa-lg"></i></div>
    
    <input type="password" class="form-control" name="password" id="passsword" placeholder="Password" aria-describedby="emailHelp">
  </div>
  </div>
   
  <button  type="submit" class="btnReg btn-lg fa-lg"  >Submit</button>
 
  </fieldset>
</form>
           








   



    
    
   


   




      


