<%- include('partials/header'); -%>


<div class="row mainrow  my-5">
    <div class="col-md-8 ">

      <div class="card">
        <div class="card-header">
         Lac Abee Tour
        </div>
        <div class="card-body">
          <h5 class="card-title">Lac Abee Tour</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    
    <div class="row">
        <div class="col-md-2  " style="margin-top:10px;">
            <h5>Overview</h5>
        </div>
        <div class="col-md-6" >
       <p style="text-align: left; margin-top: 10px; font-size: medium;">You’ll spend time in vibrant Djibouti City before heading off to Lake Abbé, driving through the Grand Bara and Petit Barra deserts along the way and sleeping in simple, traditional Afar huts on the shores of the lake upon arrival. The lake is particularly famous for the limestone chimneys that punctuate the surrounding landscape. Next it’s on to Lake Assal, the lowest point in the African continent, followed by Tadjourah, an old town full of whitewashed buildings and mosques, a short drive from the pretty beach at Plages de Sables Blancs.
      </p>
        </div>
    </div>

    <hr class="my-4"> 

    <div class="row">
      <div class="col-md-2 ">
          <h5>Day 1</h5>
      </div>
      <div class="col-md-6" >
        <div class="row">
          <div class="col-md-3"> Leave at 7:00 am </div>
          <div class="col-md-3"> stop  Dikhil 8:30</div>
          <div class="col-md-4"> arrive Tadjourah 10:30</div>
   
         </div>
        </div>  
     </div> 


  <hr class="my-4">
  <div class="row">
    <div class="col-md-2 ">
        <h5>Day 2</h5>
    </div>
    <div class="col-md-6" >
      <div class="row">
        <div class="col-md-3"> Drive to lack Assal</div>
        <div class="col-md-3"> tour in the lake</div>
        <div class="col-md-4"> Back  to Tadjourah</div>
       </div>
    </div>
</div>
  <hr class="my-4">

  <div class="row">
    <div class="col-md-2 ">
        <h5>Day 3</h5>
    </div>
    <div class="col-md-6" >
   <p>
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita porro est velit voluptatum fuga numquam minima facilis in ratione pariatur.
   </p>
    </div>
</div>
    </div>
       
    <div class="col-md-4  border" >
      <img src="images/lacassal.jpg" class="img-thumbnail" alt="lacassal">
      <img src="images/lacassal1.jpg" class="img-thumbnail" alt="lacassal">
      <img src="images/lacassal2.jpg" class="img-thumbnail" alt="lacassal">
       </div>
</div>







<%- include('partials/footer'); -%>