<%- include('partials/header'); -%>
        
   
        
          
          <form action="/Register" method="Post">
         
            <%if (message){%>
            <p style="background-color: #d68e8e; font-size: medium;  color: rgb(247, 13, 13);"> <%=(message)%></p>
           <%}%>
               
        
           <fieldset class="regform">
            <h2 class="h2Login">Sing UP</h2>
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-user-circle fa-lg"></i></div>
              
              <input  type="text" class="form-control" name="firstName" id="firsName" placeholder="First Name" aria-describedby="emailHelp">
            </div>
            </div>
  
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-user-circle fa-lg"></i></div>
              
              <input  type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" aria-describedby="emailHelp">
            </div>
            </div>
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text"> <i class="fas fa-envelope fa-lg"></i></div>
              
              <input type="text" class="form-control" name="email" id="email" placeholder="Email" aria-describedby="emailHelp">
            </div>
            </div>
            
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock fa-lg"></i></div>
              
              <input type="password" class="form-control" name="password" id="email" placeholder="Password" aria-describedby="emailHelp">
            </div>
            </div>
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock fa-lg"></i></div>
              
              <input type="password" class="form-control" name="confirm" id="email" placeholder="Confirm Password" aria-describedby="emailHelp">
            </div>
          </div>
           
            <button  type="submit" class="btnReg btn-lg btn-info fa-lg" >Submit</button>
           </fieldset>
          
        </form>
    
        

     



    
    
   


   




      


