
.navbar{
  margin-bottom: 100px;
}
h1,h2,h3,h4,h5 {
  font-family:  helvetica neue;
  line-height: 1.1;
  color:cadetblue;
  font-weight: 600;
}

.container.blogs{

  margin-top: 100px;
}
.img-thumbnail.showblogs{
 border-radius: 50%;
 width: 5rem;
 
}
p.description{
  margin: 20px 50px;
  font-size:0.95rem;
}

@media screen and (max-width: 768px){
  /* .img-thumbnail.showblogs{
    width: 60%;
  } */

}